.activity-form-label{
    margin-left: 1%;
}

.activity-form-container{
    overflow-y: auto;
    overflow-x: hidden;
}

.activities-label {
    padding-left: 20px;
}

.action-preview {
    border: 2px solid grey;
    padding: 10px;
}