#tracker-container {
    height: auto;
    border-radius: 5px;
    background: rgba(34,34,34,1);
    color: rgba(255,255,255,1);
    top: 100px;
    left: 100px;
    position: fixed;
    z-index: 100;
    overflow: hidden;
    display: flex;
}

#tracker-container #tracker {
	flex: 1 0 255px;
	min-width: 255px;
}

#tracker-header {
	background: rgba(68,68,68,1);
	display: flex;
	height: 25px;
	align-items: center;
}

#tracker-header .header-navigation {
	display: flex;
	padding: 0px 8px;
}

.tracker-btn {
	cursor:pointer;
}

.tracker-btn:hover {
	color: rgba(255,255,255,0.6);
}


#tracker-move-handle {
	cursor: move;
	font-size: 14px;
	line-height: 1;
	text-align: center;
	margin: 0;
	border: none;
	flex: 1;
}

.tracker-content {
    font-size: 13px;
    padding: 6px 6px 6px 4px;
    font-weight: 400;
}

.player-list li {
	list-style-type: none;
}

.player-list-item:not(:last-child) {
	padding-bottom: 4px;
}

.player-name {
	font-weight: bold;
}

.activity-item:hover {
	cursor:pointer;
	font-weight: bold;
}